<div class="row" *ngIf="mode === 'INFO'">
  <div class="col">
    <div class="card">
      <div class="card-body" *ngIf="event">
        <h5 class="card-title">{{ event.name }}</h5>
        <p class="card-text mb-1"><b>Venue :</b> {{ event.venue }}</p>
        <p class="card-text mb-1">
          <b>From :</b> {{ event.from | date : "medium" }}
        </p>
        <p class="card-text"><b>To :</b> {{ event.to | date : "medium" }}</p>

        <hr />

        <h6>Activities</h6>
        <ol>
          <li *ngFor="let a of activities">
            {{ a.name }} ({{ a.from | date : "dd MMM yyyy" }})
          </li>
        </ol>
        <hr />

        <div class="btn-group" role="group">
          <button type="button" class="btn btn-lg btn-warning">
            <i class="fa fa-qrcode"></i>
          </button>
          <button
            type="button"
            class="btn btn-lg btn-success"
            (click)="searching = true"
          >
            <i class="fa fa-magnifying-glass"></i>
          </button>
          <button
            type="button"
            class="btn btn-lg btn-info"
            (click)="getCoupons(); mode = 'COUPONS'"
          >
            <i class="fa fa-table"></i>
          </button>
          <button
            type="button"
            class="btn btn-lg btn-primary"
            (click)="download()"
          >
            <i class="fa fa-file-excel"></i>
          </button>
        </div>

        <ng-container *ngIf="searching">
          <hr />

          <div class="input-group">
            <button
              class="btn btn-secondary"
              (click)="searching = false; searchError = ''"
            >
              <i class="fa-solid fa-xmark"></i>
            </button>

            <input
              type="text"
              class="form-control"
              [(ngModel)]="couponQuery"
              placeholder="Search coupon Id"
            />

            <button class="btn btn-primary" (click)="search()">Search</button>
          </div>
          <div class="invalid-feedback d-block" *ngIf="searchError">
            {{ searchError }}
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="mode === 'COUPONS'">
  <div class="col">
    <div class="card">
      <div class="card-body" *ngIf="event">
        <h5 class="card-title d-inline">{{ event.name }}</h5>
        <button class="btn btn-link float-end pt-0" (click)="mode = 'INFO'">
          <i class="fa fa-arrow-left"></i>
        </button>
        <hr />

        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="query"
            placeholder="Filter coupon, owner"
          />
          <button class="btn btn-primary" (click)="filter()">Filter</button>
        </div>

        <table class="table table-striped table-responsive">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Owner</th>
              <th scope="col">Usage</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of couponsFiltered">
              <th>{{ c.number }}</th>
              <td>{{ c.owner }} ({{ c.user_count }})</td>
              <td>
                <span *ngFor="let a of c.usage" class="d-block">
                  <span *ngFor="let i of c.user_count | times">
                    <i
                      class="fa-circle me-1"
                      [class]="{ 'fa-regular': a.count < 1, fa: a.count >= i }"
                    ></i>
                  </span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
