<div class="container-fluid app-root">
  <nav class="fixed-top navbar navbar-expand-lg border-bottom bg-white mx-0">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">Aponjon Utsav Committee</a>
      <span *ngIf="isLoggedIn">
        {{ loggedInUser.first_name }} {{ loggedInUser.last_name }} |
        {{ loggedInUser.role }}
      </span>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item" [class]="isLoggedIn ? 'dropdown' : ''">
            <a
              class="nav-link"
              [routerLink]="['/events']"
              [class]="isLoggedIn ? 'dropdown-toggle' : ''"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Events</a
            >
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/events/manage']">Manage</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Misc
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">About Us</a></li>
              <li><a class="dropdown-item" href="#">Contact Us</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Donate</a></li>
            </ul>
          </li>
          <ng-container *ngIf="!isLoggedIn">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/signin']">Sign In</a>
            </li>
          </ng-container>
          <ng-container *ngIf="isLoggedIn">
            <li class="nav-item">
              <a class="nav-link" href="javscript:void(0);">Change Password</a>
            </li>
            <li class="nav-item">
              <button class="btn btn-link" (click)="signout()">Sign Out</button>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>
  <div
    class="main px-3 pb-3"
    [class]="isLoggedIn ? 'pt-sm-3 mt-sm-0 pt-5 mt-2' : 'pt-3'"
  >
    <router-outlet></router-outlet>
  </div>
  <div
    class="fixed-bottom container-fluid text-center border-top bg-white mx-0"
  >
    AUC 2024
  </div>
</div>
